<h1 class="list-title">Crie sua conta:</h1>
<div class="container-list">
  <form action="/controller/register" method="post">
    <label for="name">Nome:</label>
    <input type="text" name="name" required />
    <label for="email">Email:</label>
    <input type="email" name="email" required />
    <label for="password">Senha:</label>
    <input type="password" name="password" required />
    <label for="repeatPassword">Repita a sua Senha</label>
    <input type="password" name="repeatPassword" required />
    <button type="submit">Criar conta</button>
  </form>
</div>

{{>_userRegisterMsg}}